@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --brand-green: #00856f;
    --brand-green-ligth: #dce9e2;
    --brand-green-ligth-02: #f7f9f9;
    --brand-beige: #fffaf1;
    --brand-green-hover: #00453a;

    --gray-headline: #061800;
    --gray-paragraph: #384633;
    --white: #3E3E3E; 

    /* DESKTOP FONT SIZE */
    --font14: 1.4rem;
    --font16: 1.6rem;
    --font18: 1.8rem;
    --font24: 2.4rem;
    --font40: 4.0rem;
    --font48: 4.8rem;
    --font52: 5.2rem;

     /* MOBILE FONT SIZE */
     --fontmobile14: 1.4rem;
     --fontmobile16: 1.6rem;
     --fontmobile18: 1.8rem;
     --fontmobile24: 2.4rem;
     --fontmobile30: 3.0rem;
     --fontmobile34: 3.4rem;
     --fontmobile48: 4.8rem;
 
}
html{
    font-family: 'DM Sans', sans-serif;
    
}

body,a{
    text-decoration: none;
}

.container{
    max-width: 300px;
    margin: 40px auto;
    text-align: center;
}

img{
    width: 100%;
}

img.avatar{
    width: 150px;
    height:150px;
    border: 3px solid #0F3270;
    border-radius: 50%;
    padding:4px;
}

.container h3{
    font-size: 36px;
    color: #0F3270;
    font-weight: bold;
}

.container p{
    margin-bottom: 36px;
    font-weight: bold;
    opacity: 0.8
}

ul{
    list-style: none;
    
}

ul li{
    margin-top:12px;
    border: 1px solid #0F3270;
    border-radius: 4px;
    text-transform:uppercase;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6)
}

ul li a{
    font-size: 16px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:53px;
    transition: background 200ms;
    font-weight: 700;
    opacity: 0.8
}

ul li a:hover{
    background-color: #0F3270;
    color: white;
}

ul li a:visited{
    color: none;
}

ul li a:active{
    color: none;
}

footer p{
    margin-top: 24px;
    font-size: 14px;
    text-align: center;
}
